body{
	width:95%;
	margin: 2em auto;
}

.header, .footer, .content, .login { 
	margin: 1em auto;
	border: 0.1em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #edf5fc;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
}
.login{
   display: table-cell;
   text-align: center;
}
.header, .footer{ 
	text-align: center;
}

.messages {	
	margin: 1em auto; 
}

.err, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 0.5em;
	border-color: #222;
	border-style: solid;
	border-width: 0.1em;
	color: #222;
}
.logerr{
	padding: 10px 10px 10px 30px;
	border-radius: 5px; 
	background-color: #f88;
	border-color: #222;
	border-style: solid;
	border-width: 0.1em;
}
.err { 
	width: 10%; 
	background-color: #f88;
}

.res{
	width:7%;
	background-color: rgba(12, 204, 12, 0.541);
}



